---
// TradingView Ticker Widget - Live data from IDX stocks
---

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="background: #0d1525; border-bottom: 1px solid #1e2d3d;">
  <script type="module" src="https://widgets.tradingview-widget.com/w/en/tv-ticker-tape.js" is:inline></script>
  <tv-ticker-tape symbols="FOREXCOM:SPXUSD,FOREXCOM:NSXUSD,FOREXCOM:DJI,IDX:BBRI,IDX:BBCA,IDX:BMRI,IDX:BBNI,IDX:ANTM,IDX:MDKA,IDX:BRPT,IDX:TLKM,IDX:INCO,IDX:NCKL,IDX:GOTO,IDX:UNVR" hide-chart hover-type="performance-grid" show-hover theme="dark"></tv-ticker-tape>
</div>
<!-- TradingView Widget END -->
